.clr-mr-13 {
	margin-right: 13px;
}
.clr-ml-15per {
	margin-left: 15%;
}
.clr-width-70per {
	max-width: 70%;
}
.cls-buton {
	width: 80px;
}
.btn-custom-option {
    font-size: 22px;
}
.btn-option:after {
    content: "";
    clear:both;
}
.btn-option{
    width: 95px;
    margin: 0 auto;
}
.cls-ml-46 {
	margin-left: 46px;
}
.cls-mt-30 {
	margin-top: 30px;
}
.cls-date-pick {
	padding-right: 21px;
}
.cls-alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.cls-select-fa {
    padding: 4px;
    width: 172px;
}
.custom-alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.img-w-h {
    width: 210px !important;
    height: 210px !important;
}
.cls-dialog-modal{
    width: 1136px;
}
